.uk-card {
    margin-bottom: 20px!important;
}
.uk-checkbox {
    width: 16px!important;
}
h3 {
    margin: 0;
}
.uk-card-primary {
    background: #f4d742 !important;
}
.uk-card-primary button {
    background: #ffffff;
    color: #000 !important;
}
.uk-card-primary h3 {
    text-decoration: line-through;
}
